.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.profile {
    border: 1px solid gray;
}

.mainfeed {
    border: 1px solid gray;
}

.group-members {
    border: 1px solid gray;
}