.NavMain {
	background-color: #fed7da;
	color: rgb(57, 57, 57);
	display: flex;
	align-items: center;
	padding: 20px;
	height: 70px;
	position: relative;
}

.NavMain .nav-list {
	margin-left: auto;
	display: flex;
}

.NavMain .nav-list li:not(:last-child) {
	margin-right: 20px;
}

.panda {
	position: absolute;
	width:10vmin;
	left:47.5%;
}

@media only screen and (max-width:850px) {
	.panda {
		width:0;
		height:0;
	}
}