/* .user-wrapper{
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 10px;
}

.user-pic{
    border-radius: 50px;
    border: 1px solid gray;
    width: 50px;
    height: 50px;
}

.userinfo{
    padding-bottom: 5px;
    border: 1px solid gray;
    margin: 5px 0;

}

.usernames{
    display: flex;
    flex-direction: row;
    font-weight: bold;
} */
